body {
    background-color: #252525;
    background-image: url(Images/Body.jpg);
    background-position: 50% 0;
    font-family: "ＭＳ Ｐゴシック"; 
    -webkit-font-smoothing : none;
    color: #ffffff;
    margin: 0;
    text-align: center;
    align-content: center;
}

.header {
    padding: 25px 5px;
    height: 20px;
    width: 100%;
    display: flex;
    background-color: #1a1a1af3;
    image-rendering: pixelated;
    overflow: no-content;
    min-width: 250px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;    
}

.header div {
    display: inline-block;
    text-align: center;
    font-size: 75%; 
    font-family: "ＭＳ Ｐゴシック";
    align-items: center;
    height: 20px;
    align-content: center;
}

.header a {
    color: #fff;
    text-align: center;
    text-shadow: none;
}

.header a:hover {
  color: #fff;
  text-shadow: 
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 19px #fff,
  0 0 40px #9900ff,
  0 0 80px #9900ff,
  0 0 90px #9900ff,
  0 0 100px #9900ff,
  0 0 149px #9900ff;
}

#logo {
    color: #08a3d9;
    width: 10%;
    size-adjust: auto;
    object-fit: scale-down;
    cursor: pointer;
}

#navigation {
    width: 80%;
}
#navigation a {
    cursor: pointer;
    padding: 20px;
}

#login {
    cursor: pointer;
    width: 10%;
}

#notice {  
    margin: auto;
    display: relative;
    margin-top: 5%;
    margin-bottom: 3%;
    height: auto;
    width: 500px;
    text-wrap: auto;
    padding: 50px;
    border-radius: 20px;
    background-color: #1a1a1af3;
  }

#table {
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

table, th, td {
	border: 1px solid rgb(146, 146, 146);
  	border-collapse: collapse;
    align-content: center;
    align-self: center;
}
th, td {
  	padding: 1%;
}
th {
  	background-color:#25003d4b; 
    height: 50px;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
    width: 300px;
}

th img {
    max-width: 150px;
    max-height: 100px;
    display: relative;
    size-adjust: auto;
}

th a {
    color: #fff;
    text-align: center;
    text-shadow: none;
}

th a:hover {
    color: #fff;
    text-shadow: 
    0 0 5px #fff,
    0 0 8px #fff,
    0 0 19px #fff,
    0 0 40px #9900ff,
    0 0 80px #9900ff,
    0 0 90px #9900ff,
    0 0 100px #9900ff,
    0 0 149px #9900ff;
}

colgroup {
  	width: 150px;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #1a1a1ac7;
    box-shadow: 
      0 0 4px #252525
      0 0 8px #252525
      0 0 12px #252525;
}
  
#non-link-links {
    padding: 10px;
    cursor: pointer;
}