body {
    background-color: #252525;
    background-image: url(Images/Body.jpg);
    background-position: 50% 0;
    font-family: "ＭＳ Ｐゴシック"; 
    -webkit-font-smoothing : none;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.header {
    padding: 25px 5px;
    height: 20px;
    width: 100%;
    display: flex;
    background-color: #1a1a1af3;
    image-rendering: pixelated;
    overflow: no-content;
    min-width: 250px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;    
}

.header div {
    display: inline-block;
    text-align: center;
    font-size: 75%; 
    font-family: "ＭＳ Ｐゴシック";
    align-items: center;
    height: 20px;
    align-content: center;
}

.header a {
    color: #fff;
    text-align: center;
    text-shadow: none;
}

.header a:hover {
  color: #fff;
  text-shadow: 
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 19px #fff,
  0 0 40px #9900ff,
  0 0 80px #9900ff,
  0 0 90px #9900ff,
  0 0 100px #9900ff,
  0 0 149px #9900ff;
}

#logo {
    color: #08a3d9;
    width: 10%;
    size-adjust: auto;
    object-fit: scale-down;
    cursor: pointer;
}

#navigation {
    width: 80%;
}
#navigation a {
    cursor: pointer;
    padding: 20px;
}

#login {
    cursor: pointer;
    width: 10%;
}

.neon {
    font-family: "Yesteryear";
    font-size: 50px;
    text-shadow:
    0 0 5px #fff,
    0 0 40px #9900ff,
    0 0 80px #9900ff,
    0 0 90px #9900ff;
    margin-top: -20px;
    margin-bottom: -20px;
}

#Mission {
    border-radius: 20px;
    background-color: #1c1c1cbb;
    max-width: 50%;
    max-height: 20%;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#Contacts {
    border-radius: 20px;
    background-color: #1c1c1cbb;
    max-width: 50%;
    max-height: 20%;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow:
    0 0 5px #fff,
    0 0 8px #fff,
    0 0 19px #fff,
    0 0 40px #9900ff,
    0 0 80px #9900ff,
    0 0 90px #9900ff,
    0 0 100px #9900ff,
    0 0 149px #9900ff;
    cursor: pointer;
    text-decoration: underline;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #1a1a1ac7;
    box-shadow: 
      0 0 4px #252525
      0 0 8px #252525
      0 0 12px #252525;
}
  
#non-link-links {
    padding: 10px;
    cursor: pointer;
}