body {
    background-color: #252525;
    background-image: url(Images/Body.jpg);
    background-position: 50% 0;
    font-family: "ＭＳ Ｐゴシック"; 
    -webkit-font-smoothing : none;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.header {
    padding: 25px 5px;
    height: 20px;
    width: 100%;
    display: flex;
    background-color: #1a1a1af3;
    image-rendering: pixelated;
    overflow: no-content;
    min-width: 250px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;    
}

/* I am using relative positioning instead of float objects to make this site more responsive
basically im prepping for the fact that everything might need to resize itself in the event of a different
device.*/

.header div {
    display: inline-block;
    text-align: center;
    font-size: 75%; 
    font-family: "ＭＳ Ｐゴシック";
    align-items: center;
    height: 20px;
    align-content: center;
}

.header a {
    color: #fff;
    text-align: center;
    text-shadow: none;
}

.header a:hover {
  color: #fff;
  text-shadow: 
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 19px #fff,
  0 0 40px #9900ff,
  0 0 80px #9900ff,
  0 0 90px #9900ff,
  0 0 100px #9900ff,
  0 0 149px #9900ff;
}

#logo {
    color: #08a3d9;
    width: 10%;
    size-adjust: auto;
    object-fit: scale-down;
    cursor: pointer;
}

#navigation {
    width: 80%;
}
#navigation a {
    cursor: pointer;
    padding: 20px;
}

#login {
    cursor: pointer;
    width: 10%;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 5px #fff,
        0 0 8px #fff,
        0 0 19px #fff,
        0 0 40px #9900ff,
        0 0 80px #9900ff,
        0 0 90px #9900ff,
        0 0 100px #9900ff,
        0 0 149px #9900ff;

      box-shadow:
        0 0 54px #252525,
        0 0 14px #9900ff,
        0 0 28px #9900ff,
        0 0 39px #9900ff,
        0 0 40px #9900ff,
        0 0 45px #9900ff;
    }
    20%, 55% {
      text-shadow: none;
      box-shadow: none;
    }
  }

#banner {
    animation: flicker 5.0s infinite alternate;
    align-content: center;
    width: 100%;
    object-fit: fill;
    align-items: center;
    background-size: cover;
    background-image: url(Images/Banner.gif), linear-gradient(to right,#25252577, #9900ff77, #25252577);
    image-rendering: pixelated;
    height: 550px;
    font-size: 150px;
    font-family: "Yesteryear";
    color: #fff;
    padding: 5px;
    margin-bottom: 50px;
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 19px #fff,
      0 0 40px #9900ff,
      0 0 80px #9900ff,
      0 0 90px #9900ff,
      0 0 100px #9900ff,
      0 0 149px #9900ff;
    box-shadow:  
        0 0 4px #9900ff,
        0 0 8px #9900ff,
        0 0 90px #9900ff,
        0 0 100px #9900ff,
        0 0 14px #9900ff;
}

#notice {  
  margin: auto;
  display: relative;
  margin-top: 5%;
  margin-bottom: 3%;
  height: auto;
  width: 500px;
  text-wrap: auto;
  padding: 50px;
  border-radius: 20px;
  background-color: #1a1a1af3;
}

#search-bar {
  padding: 10px;
  margin: 20px;
  width: auto;
  height: auto;
  background-color: #200219b9;
  border-radius: 20px;
  align-content: center;
  box-shadow:  
    0 0 14px #9900ff49,
    0 0 18px #9900ff49,
    0 0 28px #9900ff49,
    0 0 30px #9900ff49,
    0 0 34px #9900ff49;
}

#search-bar input[type=text] {
  padding: 10px;
  width: 25%;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 10px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  background-color: #252525;
  border: none;
  font-family: "ＭＳ Ｐゴシック";
}

#Search-text {
  font-size: 50px;
  font-family: "Yesteryear";
  font-weight: 400;
  text-shadow:
    0 0 2px #fff,
    0 0 34px #9900ff,
    0 0 36px #9900ff;
}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #1a1a1ac7;
  box-shadow: 
    0 0 4px #252525
    0 0 8px #252525
    0 0 12px #252525;
}

#non-link-links {
  padding: 10px;
  cursor: pointer;
}