body {
    background-color: #252525;
    font-family: "ＭＳ Ｐゴシック"; 
    -webkit-font-smoothing : none;
    color: #FFF;
    margin: 0%;
}

#header {
    padding: 25px 5px;
    height: 20px;
    background-image: linear-gradient(to top, #252525 ,#8c39eb);
    image-rendering: pixelated;
    overflow: no-content;
    min-width: 250px;
    text-align: center;
    margin: auto;
    justify-content: center;
}

/* I am using relative positioning instead of float objects to make this site more responsive
basically im prepping for the fact that everything might need to resize itself in the event of a different
device.*/

#header div {
    display: inline-block;
    text-align: center;
    font-size: 75%; 
    font-family: "ＭＳ Ｐゴシック";
    font-smooth: never;
    align-items: center;
    height: 20px;
    align-content: center;
}

#header a {
    text-decoration-color: #292929;
    color: #FFFFFF;
    text-align: center;
}

#logo {
    color: #08a3d9;
    width: 10%;
    size: 100%;
    size-adjust: auto;
}

#navigation {
    width: 75%; 
}
#navigation a {
    padding: 20px;
}

#login {
    cursor: pointer;
    width: 10%;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;  
}